<div class="mt-4">
    <h3>Khoa hoc da xoa</h3>
    <a href="/me/stored/courses">Danh sach khoa hoc</a>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="#" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{_id}}"
                        data-bs-target="#delete-course-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5">
                    <div class="alert alert-danger" role="alert">
                        Bạn chưa xóa khóa học nào.
                        <a href="/me/stored/courses">Danh sach khoa hoc</a>
                    </div>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>

{{!-Cofirm delete course-}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa khóa học</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa khóa học này không? Tất cả dữ liệu liên quan sẽ bị xóa vĩnh viễn.
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xoa</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Huy</button>
            </div>
        </div>
    </div>
</div>
{{!-End confirm delete course-}}

{{!-Delete hidden form}}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>
{{!-End delete hidden form}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize Bootstrap tooltips
        var courseId = null;
        var deleteCourseForm = document.forms['delete-course-form'];
        var restoreCourseForm = document.forms['restore-course-form'];
        var btnDelete = document.getElementById('btn-delete-course');
        var btnRestore = $('.btn-restore');

        // Show the modal when the delete button is clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = $(event.relatedTarget);
            // Extract info from data-* attributes
            courseId = button.data('id');
        })

        // When the delete button in the modal is clicked
        btnDelete.onclick = function () {
            deleteCourseForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteCourseForm.submit();
        }

        // When the restore button is clicked
        $(document).on('click', '.btn-restore', function (event) {
            var courseId = $(this).data('id');
            restoreCourseForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreCourseForm.submit();
        });
    });

</script>